//- h3 Recent beers:
//- ul
//-   for beer, ind in val.locbeers
//-     li
//-       h4= beer.name
//-       p Style: #{beer.style} | Average Rating: #{beer.score}
div.row
  for beer, ind in val.locbeers
    if (ind%3== 0)&& ind!= 0
      div.clearfix
    div.col-md-4
      article
        h4= beer.name
        p Style: #{beer.style} | Average Rating: #{beer.score.toFixed(2)}